<h1>Listing Users</h1>

<%= link "New", to: user_path(@conn, :new) %>
<table class="table">
  <%= for user <- @users do %>
    <tr>
      <td><%= render "user.html", user: user %></td>
      <td>
        <%= link "View", to: user_path(@conn, :show, user.id) %>
        <%= link "Delete", to: user_path(@conn, :delete, user.id), method: :delete  %>
      </td>
    </tr>
  <% end %>
</table>